
body {margin: 0;
background-color: #d9fced}


.titolo {font-family: 'Montez', cursive;
    text-align: center;
color: black;
}

.blog { 

font-family: 'Jost', sans-serif;
font-size: 20px;
}

 .post { position: absolute;
    top: 400px;
    left: 50px;
    font-family: 'Jost', sans-serif;
font-size: 20px;
}


.logo{ text-align: center;
height: 75px; 
left: 20px;
top: 0;}


.ni { text-align: center;
 font-family: 'Libre Baskerville', serif;
font-size: 20px; 
color: black;}

* {
  box-sizing: border-box;
}

.colonne { position: absolute;
top: 250px; }

.articoli { position: absolute;
top: 800px; }

.w3-large { font-family: 'Jost', sans-serif;

    font-size: 60px; }

    .arti { position: absolute;
    top: 1500px; }

    .foglie { 
  min-height: 100%;
  background-position: center;
  background-size: cover;
  width: 1600px;
  height: 700px;
  opacity: 50%;
}

.punto { list-style-type: none; }
.barra {font-family: 'Jost', sans-serif;
font-size: 20px;}

.menu {
font-family: 'Jost', sans-serif;
font-size: 15px;
text-transform: uppercase;}

.wire { position: absolute;
top: 1700px; 
left: 100px;
right: 100px;}
.risultati { padding: 10px; }
